@model List<ShopMayTinhLamBaoCaoLTWNC_Farmer_18CT111.Models.Cartitem>
<div class="cart">
    <p>
        Máy Tính Đặng Cắp! <span>Giỏ Hàng</span><div id="dd" class="wrapper-dropdown-2">
            @Model.Count Mặt hàng
            <ul class="dropdown">
                <li>you have no items in your Shopping cart</li>
            </ul>
        </div>
    </p>
</div>
