<!--32 Q-->
@model List<Models.Core.EF.ProductCategory>
<ul>
<h3>Cac San Pham</h3>
<!--Hau_35-->
@foreach (var item in Model.Where(x => x.ParentID == null))
{
    var child = Model.Where(x => x.ParentID == item.ID);
    var parentClass = child.Count() > 0 ? "class=dropdown-toggle data-toggle=dropdown" : "";
    <!--Hau_35-->
    <li class="dropdown">
        <a href="/san-pham/@item.MetaTitle-@item.ID" @parentClass>@item.Name</a>
        @if (child.Count() > 0)
        {

            <ul class="dropdown-menu">
                @foreach (var childItem in child)
                {
                    <li><a href="/san-pham/@childItem.MetaTitle-@childItem.ID">@childItem.Name</a></li>
                }

            </ul>
        }
        <!--danh muc con-->


    </li>
    <!--Hau_35-->
}
</ul>